<header class="d-block d-flex justify-content-start flex-column">
	<my-navbar></my-navbar>
</header>

<main class="container d-block d-flex justify-content-center justify-content-around flex-column">
	<router-outlet></router-outlet>
</main>

<footer class="d-block d-flex justify-content-end flex-column">
	<my-footer></my-footer>
</footer>