<div class="row product-detail" *ngIf="product">
	<div class="col-md-5 col-md-5 col-12 product-img">
		<!-- <h1>Product Image</h1> -->
		<img [src]="product.image">
	</div>

	<div class="col-md-6 col-md-6 col-12 detail">
		<div class="head-detail">
			<h3 class="name-product">{{product.name}}</h3>
			<span class="expire">
				<small>Ngày hết hạn: {{product.dateexpired | date:'short'}}</small>
			</span>
			<br>
			<small class="post-by">
				<b>Đăng bởi: </b> {{product.userCreated}}
			</small>
		</div>
		<div class="body-detail">
			<b style="display: inline-block;">Mô tả:</b>
			<div class="description">
				{{product.description}}
			</div>
			<br>
			<b>Chú ý:</b> <span>{{product.note}}</span>
			<br>
			<b>Địa chỉ:</b> <span>{{product.address}}</span>
			<br>
			<b>Số điện thoại:</b> <span>{{product.phone}}</span>			
		</div>
		<div class="footer-detail">
			<button type="button" class="btn btn-sm btn-outline-primary waves-effect"><i class="fa fa-check-circle-o"></i> Recieve</button>
			<p>{{product.datecreated | date:'short'}}</p>
		</div>
	</div>

	<div class="col-md-12 col-sm-12 col-12 map">
		<div *ngIf="lat && lng" style="height: 100%">
			<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" style="height: 100%">
				<agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="Update()">
					<agm-info-window>
						<h3><strong>Howdy!</strong></h3>
						<p>You are here!</p>
					</agm-info-window>
				</agm-marker>
			</agm-map>
		<div>
	</div>
</div>