<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3" style="text-align: center;">
        <h4 class="logo" style="margin-top: 10px;">
          <a href="#"> <img src="../../assets/img/logo.png" height="100"></a>
        </h4>
        <h3><p>LAQ Service </p></h3>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Temps</a></li>
          <!--<li><a href="#">Downloads</a></li>-->
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <ul>
          <li><a href="#">Company Information</a></li>
          <li><a href="#">Products</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
          <!--<li><a href="#">Forums</a></li>-->
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="google"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>

        </div>
        <button type="button" class="btn btn-default">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright">

  </div>
  <div class="footer-copyright">
    <p>© 2017 Made by Together Team</p>
  </div>
</footer>