.not-found {
	.notfound-img {
		overflow: hidden;
		background: url("../../assets/img/404.jpg") no-repeat center center;
		background-size: cover;
		height: 200px;
	}
	.notfound-content {
		border-left: 2px solid #7f8c8d;
		color: #7f8c8d;
		h1 {
			font-weight: 400;
		}
	}
}