<div class="d-flex justify-content-center row not-found">
	<div class="d-inline-block col-4 col-lg-4 col-md-4 col-sm-4 notfound-img"></div>
	<div class="d-inline-block col-3 col-lg-3 col-md-3 col-sm-3 notfound-content">
		<h1>404 Error</h1>
		<h5>The Page You're Looking For Was Not Found</h5>
		<a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back</a>		
	</div>
</div>