.profile {
	width: 800px;
	border: 1px solid #1C2A48;
	border-radius: 5px;
	.profile-head {
		border-bottom: 1px solid #1C2A48;
		padding-bottom: 10px;
		padding-top: 20px;
		padding: 15px 15px 5px 20px;
		background-color: #1C2A48;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
		h4 {
			font-weight: 500;
			color: #fff;
		}
		.edit-btn {
			margin-top: 3px;
			background-color: #1C2A48;
			color: #fff;
			border-radius: 5px;
			border: 2px solid #fff;
			height: 35px;
			padding: 0px 10px !important;
			&:hover {
				color: #F9B725;
				border-color: #F9B725;
			}
		}
	}
	.tab-content {
		padding: 15px 25px;
	}
	.ava-user {
		overflow: hidden;
		text-align: center;
		img {
			width: 100%;
			height: auto;
		}
	}
	.info {
		margin-bottom: 10px;
		label {
			font-weight: 500;
		}
	}
	.recent-activity {
		margin-top: 15px;
		.table-wrapper-2 {
			display: block;
			max-height: 350px;
			overflow-y: auto;
			-ms-overflow-style: -ms-autohiding-scrollbar;
			border: 1px solid #1C2A48;
			table {
				th, td {
					&:last-child {
						width: 20%;
					}
				}
				td {
					&:first-child {
						font-weight: 400;
					}
				}
			}
		}
		h5 {
			font-weight: 500;
			margin-bottom: 15px;
		}
	}
}