<div class="d-flex justify-content-center">
    <div class="profile">
        <div class="d-flex justify-content-start profile-head">
            <h4 class="p-2">User Profile</h4>
            <button class="ml-auto p-2 waves-effect edit-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Chỉnh sửa</button>
        </div>
        <div class="tab-content py-4">
            <div class="tab-pane active" id="profile">
                <div class="row">
                    <div class="ava-user col-md-6 col-lg-6 col-sm-12 col-12">
                        <!-- <img src="//placehold.it/150" class="mx-auto img-fluid img-circle d-block" alt="avatar"> -->
                        <img src="../../assets/img/ava.jpg" height="30" class="mx-auto img-fluid img-circle d-block img-thumbnail" alt="avatar">
                        <h6 class="mt-2">Upload a different photo</h6>
                        <label class="custom-file">
                            <input type="file" id="file" class="custom-file-input">
                            <span class="custom-file-control">Choose file</span>
                        </label>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                        <div class="info">
                            <label for="name">Họ tên</label>
                            <input type="text" value="Nguyễn Đỗ Quang Linh" disabled="true">
                        </div>
                        <div class="info">
                            <label for="name">Số CMND</label>
                            <input type="text" value="2016*****" disabled="true">
                        </div>
                        <div class="info">
                            <label for="name">Tài khoản</label>
                            <input type="text" value="linhnguyen3696" disabled="true">
                        </div>
                        <div class="info">
                            <label for="name">Mật khẩu</label>
                            <input type="password" value="kakalot1996" disabled="true">
                        </div>
                        <div class="info">
                            <label for="name">Email</label>
                            <input type="text" value="linhnguyen3696@gmail.com" disabled="true">
                        </div>
                        <div class="info">
                            <label for="name">Số điện thoại</label>
                            <input type="text" value="01207361996" disabled="true">
                        </div>
                    </div>

                    <div class="col-md-12 col-12 recent-activity">
                        <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
                        <div class="table-wrapper-2">
                            <table class="table table-responsive table-striped">
                                <thead class="mdb-color darken-3">
                                    <tr class="text-white">
                                        <th>Tên sản phẩm</th>
                                        <th>Mô tả</th>
                                        <th>Ngày đăng</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>Xe moto</td>
                                        <td>
                                            Mô tô Rebel CBR 150cc. Xe đẹp và phong cách thể thao. Xe 2 máy , pô nổ uy lực. Điện đèn...
                                        </td>
                                        <td>{{whatTime | date : 'dd-MM-yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Máy ảnh Cannon 600D</td>
                                        <td>
                                            1 body 600D còn nguyên mới, 1 lens 18-55, 1 lens 75-300, 1 chân máy hiệu Victory. Hàng ít sử dụn...
                                        </td>
                                        <td>{{whatTime | date : 'dd-MM-yyyy'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sách làm giàu</td>
                                        <td>Sách gồm 200 trang về những câu chuyện đời có thật qua lối văn trong sáng và giản dị. Làm...</td>
                                        <td>{{whatTime | date : 'dd-MM-yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>