<header>
  <navbar-login></navbar-login>

  <section class="view intro-2 hm-stylish-strong">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="d-flex align-items-center">
          <div class="row flex-center pt-5 mt-3">                        
            <div class="col-md-12 col-xl-12 offset-xl-1" style="width: 400px">
              <div class="card animated pulse" data-wow-delay="0.3s">
                <div class="card-body z-depth-2">
                  <div class="text-center" style="color: #4285F4">
                    <h3>LOGIN</h3>
                    <hr>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control">
                    <label for="form2">Username</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="form4" class="form-control">
                    <label for="form4">Password</label>
                  </div>

                  <div class="text-center">
                    <button type="button" class="btn btn-primary waves-effect"><i class="fa fa-sign-in prefix"></i> LOGIN</button>
                    <hr>
                    <div class="text-center justify-content-center">
                      <div class="form-check">
                        <label class="form-check-label grey-text">
                          <input type="checkbox" class="form-check-input" style="border: none">
                          Remember me
                        </label>
                      </div>
                      <a [routerLink]="['/register']" style="font-size: 14px">Do not have an account?</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>