.intro-2 {
    background: url("http://c1.peakpx.com/wallpaper/869/107/807/city-lights-night-skyline-wallpaper.jpg")no-repeat center center;
    background-size: cover;
}
.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
h6 {
    line-height: 1.7;
}
a {
    &:hover {
        color: #4285F4;
    }
}
@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1150px; 
    } 
}