<header>
  <navbar-login></navbar-login>

  <section class="view intro-2 hm-stylish-strong">
    <div class="full-bg-img">
      <div class="container flex-center">
        <div class="d-flex align-items-center">
          <div class="row flex-center pt-5 mt-3">                        
            <div class="col-md-12 col-xl-12 offset-xl-1" style="width: 400px">
              <div class="card animated pulse" data-wow-delay="0.3s">
                <div class="card-body z-depth-2" method="post">
                  <div class="text-center" style="color: #4285F4">
                    <h3>REGISTER</h3>
                    <hr>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-address-card prefix grey-text"></i>
                    <input type="text" id="form1" class="form-control" [(ngModel)]="user.fullname">
                    <label for="form1">FullName</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form2" class="form-control" [(ngModel)]="user.username">
                    <label for="form2">Username</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="form4" class="form-control" [(ngModel)]="user.password">
                    <label for="form4">Password</label>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="email" id="form3" class="form-control" [(ngModel)]="user.email">
                    <label for="form3">Email</label>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary waves-effect" (click) ="submitPost()" [routerLink]="['/']">
                      <i class="fa fa-key prefix"></i> REGISTER
                    </button>
                    <hr>
                    <div class="text-center justify-content-center">
                      <div class="inline-ul text-center d-flex justify-content-center" style="padding-bottom: 10px">
                        <a class="icons-sm tw-ic"><i class="fa fa-twitter grey-text"></i></a>
                        <a class="icons-sm li-ic" style="margin-left: 80px; margin-right: 80px"><i class="fa fa-facebook grey-text"> </i></a>
                        <a class="icons-sm ins-ic"><i class="fa fa-instagram grey-text"> </i></a>
                      </div>
                      <a [routerLink]="['/']" style="font-size: 14px"><i class="fa fa-angle-left" aria-hidden="true"></i>
                      Back to login </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>