.card {
	display: inline-block;
	padding: 0;
	margin-bottom: 20px;
	box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	// border: 1px solid red;
	overflow: hidden;
	.my-thumb {
		width: 100%;
		height: 288px;
		background-color: #3e3e3e;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	.card-text {
		height: 120px;
		overflow: auto;
	}
	button {
		float: right;
		margin-top: -6px;
		cursor: pointer;
		outline: none;
	}
}