
* {
  box-sizing: border-box;
}

.login-form {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
  width: 400px;
  position: absolute;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 8px 20px -10px rgba(0,0,0,0.3);
  z-index: 1000;
  .example-form {
    padding: 20px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
  }
  .form-footer {
    margin: 15px 20px 15px 20px;
    overflow: hidden;
    .login-btn {
      text-align: center;
      background-color: #303E5C;
      color: #ffffff;
      font-size: 16px;
      display: inline-block;
      float: right;
    }
    .forget-link {
      font-size: 12px;
      text-decoration: none;
      &:hover, &:active {
        color: #303E5C;
      }
    }
    .accept {
      font-size: 12px;
      text-decoration: none;
    }
  }
}