.example-container {
	width: 100%;
	height: 100%;
	position: fixed;
}

.example-sidenav {
	border-top: 1px solid #8c8c8c;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			a {
				outline: none;
				padding: 10px 20px;
				display: block;
				text-decoration: none;
				color: #000000;
				font-weight: 600;

				vertical-align: middle;
				-webkit-transform: perspective(1px) translateZ(0);
				transform: perspective(1px) translateZ(0);
				box-shadow: 0 0 1px transparent;
				position: relative;
				-webkit-transition-property: color;
				transition-property: color;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				&:before {
					content: "";
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: #303E5C;
					-webkit-transform: scaleX(0);
					transform: scaleX(0);
					-webkit-transform-origin: 0 50%;
					transform-origin: 0 50%;
					-webkit-transition-property: transform;
					transition-property: transform;
					-webkit-transition-duration: 0.3s;
					transition-duration: 0.3s;
					-webkit-transition-timing-function: ease-out;
					transition-timing-function: ease-out;
				}
				&:hover, &:focus, &:active {
					color: #F5AB07;
				}
				&:hover:before, &:focus:before, &:active:before {
					-webkit-transform: scaleY(1);
					transform: scaleY(1);
				}
			}
		}
	}
}

.content {
	margin: 20px;
	margin-bottom: 50px;
	padding-bottom: 25px;
}

.my-nav {
	position: relative;
	background: #fff;
	box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
	padding: 0px 6px;
	margin: 0;
	a {
		color: #303E5C;
		font-weight: 600;
		font-family: 'Abril Fatface', cursive;
		text-decoration: none;
		font-size: 20px;
		padding-right: 0px;
		padding: 6px;
		img {
			margin-right: 5px;
		}
	}
	.right-nav {
		text-align: right;
		padding-right: 0;
	}
	.search-btn {
		background: #fff;
		border-color: #303E5C;
		color: #303E5C;
		cursor: pointer;
		outline: none;
	}
	.search-inp {
		border-color: #303E5C;
	}
	.my-btn {
		outline: none;
		padding: 0;
		min-width: 40px;
		float: right;
		display: inline-block;
		margin-top: 5px;
	}
}