.product-detail {
	padding: 15px;
	.product-img {
		height: 400px;
		border: 1px solid #3498db;
		overflow: hidden;
		padding: 0;
		border-radius: 5px;
		box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
		img {
			width: 100%;
			height: 100%;
		}
	}
	.detail {
		height: 400px;
		border: 1px solid #95a5a6;
		margin-left: 50px;
		padding: 10px 15px;
		background-color: #ffffff;
		border-radius: 5px;
		width: 100%;
		box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
		.head-detail {
			border-bottom: 1px solid #95a5a6;
			.name-product {
				padding: 0;
				margin: 0;
				display: inline-block;
				font-weight: bold;
			}
			.expire {
				color: #95a5a6;
				float: right;
				margin-top: -5px;
			}
			.post-by {
				color: #95a5a6;
			}
		}
		.body-detail {
			margin-top: 10px;
			height: 270px;
			.description {
				max-height: 150px;
				overflow: auto;
				display: inline-block;
				vertical-align: top;
				width: 85%;
				margin-left: 10px;
				margin-bottom: 10px;
			}
		}
		.footer-detail {
			color: #7f8c8d;
			border-top: 1px solid #95a5a6;
			padding: 6px;
			button {
				display: inline-block;
				outline: none;
				cursor: pointer;
			}
			p {
				float: right;
				padding: 0;
				margin: 0;
				margin-top: 6px;
			}
		}
	}
	.map {
		height: 580px;
		box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
		display: block;
		border: 1px solid #3498db;;
		margin-top: 20px;
		overflow: hidden;
		padding: 0;
		border-radius: 5px;
		// img {
		// 	width: 100%;
		// 	height: 100%;
		// }
		// .agm-map {
		//   height: 500px;
		// }
	}
}
