.profile {
	width: 850px;
	background-color: #ffffff;
	border: 1px solid #95a5a6;
	padding: 15px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: -25px;
	.avatar-form {
		display: inline-block;
		overflow: hidden;
		width: 100%;
		.ava-img {
			overflow: hidden;
			width: 240px;
			height: 240px;
			border-radius: 5px;
			border: 1px solid #95a5a6;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.custom-file {
			margin-top: 15px;
		}
	}
	.info-form {
		display: inline-block;
		label {
			font-weight: bold;
		}

		input {
			border: none;
			border-bottom: 1px solid #95a5a6;
			background-color: #ffffff;
			border-radius: 0;
		}
	}
}