<!-- <div class="container">
  <div class="info">
    <h1>New Secondhand</h1><span>Made with <i class="fa fa-heart"></i> by Together Team</a></span>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <form class="register-form">
    <input type="text" placeholder="Username"/>
    <input type="password" placeholder="Password"/>
    <input type="text" placeholder="Fullname"/>
    <input type="text" placeholder="Email address"/>
    <input type="text" placeholder="Identity Card"/>

    <button>Create</button>
    <p class="message">Already registered? <a href="#">Sign In</a></p>
  </form>
  <form class="login-form">
    <input type="text" placeholder="Username"/>
    <input type="password" placeholder="Password"/ style="margin-bottom: 30px">
    <a class="login-btn" href="../home.html">Login</a>
    <p class="message" style="margin-top: 30px">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>
<video id="video" autoplay="autoplay" loop="loop" poster="polina.jpg">
  <source src="http://andytran.me/A%20peaceful%20nature%20timelapse%20video.mp4" type="video/mp4"/>
</video>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script src="../../assets/js/login.js"></script> -->

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.