.card{
  width: 22rem;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  border: 1px solid #eee;
}
.img-fluid{
  width: 22rem;
  height: 235px;
  opacity: 1;
  cursor: pointer;
}
.img-fluid:hover{
  opacity: 0.9;
}
.card-data{
  height: 40px;
  background-color: #1C2A48;
  color: white;
  padding: 10px;
  height: auto;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.card-data ul{
  margin: 0;
  text-align: right;
  font-size: .9rem;
  font-style: italic;
}
.card-data ul li{
  list-style: none;
  display: inline;
  padding-right: 7px;
}
.card-text{
  font-size: .9rem;
  display:block;
  color: #747373;
  line-height: 1.5;
  margin-top: 0;
  font-family: Roboto,sans-serif;
}
.card-data ul li a{
 color: white;
 text-decoration: none;
}
.card-data ul li i{
  color: white;
  padding-right: 2px;
}
.card-body{
  padding: 1.25rem;
  flex: 1 1 auto;
  display: block;
}
hr{
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-bottom: 1rem;
}
.card-title{
  font-size: 1.5rem;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin-bottom:  1rem;
  font-family: Roboto,sans-serif;
  color: #212529;
  display: block;
}
.button{
  position: relative;
  cursor: pointer;
}
.next {
  position: absolute;
  right: 36px;
  cursor: pointer;
  bottom: -23px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1C2A48;
  width: 47px;
  height: 47px;
  color: #fff !important;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow:  0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow:  0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.next:hover{
    background-color: #34495e;
  }
