<div class="row">
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/1.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect" href="#"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Xe moto</h4>
                <hr>
                <p class="card-text">
                    Mô tô Rebel CBR 150cc .
                    Xe đẹp và phong cách thể thao .
                    Xe 2 máy , pô nổ uy lực .
                    Điện đèn...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>    
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/2.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Máy ảnh Cannon 600D</h4>
                <hr>
                <p class="card-text">
                    1 body 600D còn nguyên mới
                    1 lens 18-55
                    1 lens 75-300
                    1 chân máy hiệu Victory
                    Hàng ít sử dụn...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/3.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Ấm nấu nước</h4>
                <hr>
                <p class="card-text">
                    Bình ủ trà sữa có vỏ bình bằng inox siêu bền, tránh va đập, bụi bẩn làm hỏng bình. Thân bì...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/4.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Áo khoác Pilots</h4>
                <hr>
                <p class="card-text">
                    Mình cần nhượng lại 1 cái áo khoác trắng hiệu Pilots của Nhật. Bạn nào thích liên hệ mình nha.
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/5.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Sách làm giàu</h4>
                <hr>
                <p class="card-text">
                    Sách gồm 200 trang về những câu chuyện đời có thật qua lối văn trong sáng và giản dị. Làm...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/6.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Đàn guitar</h4>
                <hr>
                <p class="card-text">
                    Khách kí gửi, đàn còn rất mới, do lên đàn cao cấp hơn. Đàn cực kì mới. EQ rất hay, sang trọng..
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/7.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Cún lạp xưởng</h4>
                <hr>
                <p class="card-text">
                    Chó của nhà mình đẻ, có 5 em, ai đến sớm sẽ được chọn, thuần chủng, nhanh nhẹn khỏe...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-5 col-md-4 col-sm-5 col-lg-4" style="margin-bottom: 30px;">
        <div class="card">
            <div class="view hm-white-slight">
                <img src="../../assets/img/product/8.jpg" class="img-fluid">
            </div>

            <div class="button">
                <a class="next waves-effect"><i class="fa fa-chevron-right"></i></a>
            </div>

            <div class="card-body">
                <h4 class="card-title" style="font-weight: 500">Cọ makeup</h4>
                <hr>
                <p class="card-text">
                    Bỏ nghề nên mình cho ai có nhu cầu. Dụng cụ còn rất mới. Ai có nhu cầu liên hệ mình ngay...
                </p>
            </div>

            <div class="card-data">
                <ul>
                    <li><i class="fa fa-clock-o"></i>{{whatTime | date : 'dd-MM-yyyy'}}, {{whatTime | amTimeAgo}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>