<!-- <h1>Angular 2 + Google Maps Places Autocomplete</h1> -->
<div class="row">
	<div class="map col-6 col-lg-6 col-md-6 col-sm-6">
		<agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom"  style="height: 100%" (mapClick)="mapClicked($event)" [zoomControl]="true">

			<agm-marker [latitude]="latitude" [longitude]="longitude" >
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"></agm-marker> -->

		</agm-map>	
	</div>
	<form class="agm-form col-6 col-lg-6 col-md-6 col-sm-6" id="property" method="post">
		<div class="md-form" style="padding-bottom: 10px">
			<input placeholder="Nhập địa chỉ cần tìm" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl" id="address">
		</div>

		<div class="md-form">
			<input type="text" id="longtitude" class="form-control" #lng [value]="longitude" disabled="true">
			<label for="longtitude">Kinh độ</label>
		</div>

		<div class="md-form">
			<input type="text" id="latitude" class="form-control" #lat [value]="latitude" disabled="true">
			<label for="latitude">Vĩ độ</label>
		</div>

		<button type="button" class="btn btn-primary waves-effect float-right" data-toggle="modal" data-target="#basicExample">
			<i class="fa fa-map-marker" aria-hidden="true"></i> Thêm vị trí
		</button>
	</form>
</div>

<div class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                Bạn có chắc chắn muốn sử dụng vị trí này?
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy bỏ</button>
                <button type="submit" class="btn btn-primary" (click)="submitLocation(search.value,lat.value,lng.value)" data-toggle="modal" data-target="#centralModalSuccess" data-dismiss="modal">
                	Lưu thay đổi
                </button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Modal Success</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="padding: 5px;">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>Chúc mừng! Bạn đã thêm địa chỉ thành công.</p>
                </div>
            </div>

            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal" [routerLink]="['/']">Xác Nhận</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
	$(document).ready(function(){
		$("#address").geocomplete({details:"form#property"});
	});
</script>