<div class="forms-wizard">
  <form id="msform">
    <ul id="progressbar">
      <li class="active">Account Setup</li>
      <li>Social Profiles</li>
      <li>Personal Details</li>
    </ul>
    <fieldset>
      <h2 class="fs-title">Thông Tin Sản Phẩm</h2>
      <h3 class="fs-subtitle">This is step 1</h3>      

      <div class="md-form">
        <input type="text" id="title" class="form-control"  name="title">
        <label for="title" class="">Tiêu đề</label>
      </div>

      <div class="md-form">
        <textarea type="text" id="description" class="md-textarea" style="height: 150px;"></textarea>
        <label for="description">Mô tả sản phẩm</label>
      </div>

      <input type="button" name="next" class="next action-button" value="Next" />

    </fieldset>

    <fieldset>
      <h2 class="fs-title">Chọn Hình Ảnh</h2>
      <h3 class="fs-subtitle">This is step 2</h3>

      <image-upload url="https://httpbin.org/status/200" buttonCaption="Thêm hình ảnh" dropBoxMessage="Kéo và thả ảnh của bạn vào đây" clearButtonCaption="Xóa hêt"></image-upload>

      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>

    <fieldset>
      <h2 class="fs-title">Địa chỉ & Hạn bài đăng</h2>
      <h3 class="fs-subtitle">This is last step</h3>

      <div class="md-form">
        <div class="input-group">
          <input type="text" class="form-control" disabled="true" value="36 Ngô Chi Lan, Đà Nẵng, Việt Nam">
          <span class="input-group-btn">
            <button class="btn btn-default waves-effect" style="border-radius: 1px;" type="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
          </span>
        </div>
      </div>

      <div class="input-group date">
        <input type="text" class="form-control" id="datepicker" placeholder="MM/DD/YYYY">
      </div>

      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </form>
</div>