<div class="row">
	<div class="map col-12 col-lg-12 col-md-12 col-sm-12">
		<agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="15" style="height: 100%" (mapClick)="mapClicked($event)" [zoomControl]="true" [disableDefaultUI]="false">

			<agm-marker [latitude]="lat" [longitude]="lng">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat - 0.006" [longitude]="lng - 0.008" iconUrl="../../assets/img/icon-collection/png/1.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat + 0.003" [longitude]="lng + 0.003" iconUrl="../../assets/img/icon-collection/png/2.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat + 0.004" [longitude]="lng + 0.02" iconUrl="../../assets/img/icon-collection/png/3.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat - 0.004" [longitude]="lng - 0.004" iconUrl="../../assets/img/icon-collection/png/4.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat - 0.002" [longitude]="lng - 0.002" iconUrl="../../assets/img/icon-collection/png/5.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat + 0.005" [longitude]="lng - 0.004" iconUrl="../../assets/img/icon-collection/png/6.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat + 0.003" [longitude]="lng - 0.002" iconUrl="../../assets/img/icon-collection/png/7.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="lat - 0.003" [longitude]="lng + 0.015" iconUrl="../../assets/img/icon-collection/png/8.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.072784813589127" [longitude]="108.23633909225464" iconUrl="../../assets/img/icon-collection/png/2.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.08783604678672" [longitude]="108.2371973991394" iconUrl="../../assets/img/icon-collection/png/6.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.094144854753758" [longitude]="108.24578046798706" iconUrl="../../assets/img/icon-collection/png/1.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.083588827927958" [longitude]="108.2296872138977" iconUrl="../../assets/img/icon-collection/png/5.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.066104175129578" [longitude]="108.2148814201355" iconUrl="../../assets/img/icon-collection/png/2.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.08259917165763" [longitude]="108.23659658432007" iconUrl="../../assets/img/icon-collection/png/3.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>
------
			<agm-marker [latitude]="16.086928881451644" [longitude]="108.23475122451782" iconUrl="../../assets/img/icon-collection/png/8.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.09253674626253" [longitude]="108.22930097579956" iconUrl="../../assets/img/icon-collection/png/3.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.09781459202875" [longitude]="108.23251962661743" iconUrl="../../assets/img/icon-collection/png/4.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<agm-marker [latitude]="16.096000348369717" [longitude]="108.2264256477356" iconUrl="../../assets/img/icon-collection/png/2.png">
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>

			<!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)"></agm-marker> -->

		</agm-map>	
	</div>
</div>