<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/img/logo.png" height="35">
      <strong>LAQ Services</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-book" aria-hidden="true"></i> Terms <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> Support</a>
        </li>          
      </ul>
      <ul class="navbar-nav">
       <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']"><i class="fa fa-key" aria-hidden="true"></i> Register</a>
      </li>          
    </ul>
  </div>
</div>
</nav>