#navbarSideButton {
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 10px;
  margin-right: 15px
}
.navbar-side {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #ccc;
  background-color: #ffffff;
  overflow-y: scroll;
  z-index: 1000;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;

  .head-category {
    padding: 15px;
    margin: 0;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    cursor: pointer;
    i {
      margin-top: 5px;
    }
  }
  .navbar-side-item {
    padding: 15px 0;
    margin: 0;
    &:hover {
       background-color: #ccc;
    }
    
    .side-link {
      padding: 15px;
      margin-left: 20px;
      color: #1C2A48;
    }
  }
  .collapse {
    border-bottom: 2px solid #eee;
    padding-left: 15px;
    padding-bottom: 5px;
    &:hover {
      background-color: #fff;
    }
  }
}
@media only screen and (max-width: 500px) {
    .navbar-side {
      width: 70%;
    }
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: 990;
  background: rgba(0, 0, 0, 0.8);
}
.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.user-item {
  height: 100px;
  background: url("http://c1.peakpx.com/wallpaper/869/107/807/city-lights-night-skyline-wallpaper.jpg")no-repeat center center;
  background-size: cover;
  overflow: hidden;
  // -webkit-filter: blur(1px);
  // -moz-filter: blur(1px);
  // -o-filter: blur(1px);
  // -ms-filter: blur(1px);
  // filter: blur(1px);
  .ava-img {
    width: 100%;
    border-radius: 100%;
    display: inline-block;
    padding: 2px;
    vertical-align: text-bottom;
  }
  .user-fullname {
    color: #ffffff;
    font-weight: 600;
    padding-left: 10px;
    .avatar {
      padding: 0;
    }
  }
}