<nav class="row navbar navbar-dark mdb-color darken-3" style="border-radius: 0">
	<a class="navbar-brand mr-auto col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7" [routerLink]="['/']">
		<img src="../../assets/img/logo.png" height="40" class="d-inline-block align-top" style="vertical-align: middle !important;">
		<strong style="vertical-align: middle !important;">LAQ Services</strong>
	</a>
	
	<button class="navbar-toggler pull-xs-right" id="navbarSideButton" type="button">
		&#9776;
	</button>
	<ul class="navbar-side" id="navbarSide">
		<li class="navbar-side-item user-item row">
			<a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="user-fullname" style="display: inline-block;">
				<div class="d-inline-block avatar col-md-3 col-ms-3 col-lg-3 col-3">
					<img class="img-thumbnail rounded-circle img-responsive ava-img" src="../../assets/img/ava.jpg">
				</div>
				<div class="d-inline-block col-md-8 col-lg-8 col-sm-8 col-8" style="display: inline-block;">
					Welcome,
					<p>Linh Nguyễn</p>
				</div>
			</a>
		</li>
		<li class="navbar-side-item collapse" id="collapseExample">
			<p>
				<a><i class="fa fa-info-circle" aria-hidden="true"></i> Thông tin cá nhân</a>
			</p>
			<p>
				<a><i class="fa fa-comments" aria-hidden="true"></i> Đóng góp ý kiến</a>
			</p>
			<p>
				<a><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a>
			</p>
		</li>
		<p class="head-category" data-toggle="collapse" href="#collapseExample1" aria-expanded="true" aria-controls="collapseExample1"><i class="fa fa-cubes" aria-hidden="true"></i> Danh mục sản phẩm <i class="fa fa-caret-down pull-right" aria-hidden="true"></i></p>
		<div class="collapse show" id="collapseExample1" style="padding: 0">
			<li class="navbar-side-item" *ngFor='let category of categories'>
				<a href="#" class="side-link"><i class="fa {{category.iconUrlCategories}}" aria-hidden="true"></i> {{category.name}}</a>
			</li>
			<!-- <li class="navbar-side-item">
				<a href="#" class="side-link"><i class="fa fa-plug" aria-hidden="true"></i> Đồ gia dụng</a>
			</li>
			<li class="navbar-side-item">
				<a href="#" class="side-link"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Thời trang</a>
			</li>
			<li class="navbar-side-item">
				<a href="#" class="side-link"><i class="fa fa-camera-retro" aria-hidden="true"></i> Thiết bị điện tử</a>
			</li>
			<li class="navbar-side-item">
				<a href="#" class="side-link"><i class="fa fa-futbol-o" aria-hidden="true"></i> Giải trí</a>
			</li> -->
		</div>
	</ul>
	<div class="overlay"></div>
</nav>