<p><b>Đăng bởi: </b>{{data[0].userCreated}}</p>
<p><b>Địa chỉ: </b>{{data[0].address}}</p>
<p><b>Liên hệ: </b>{{data[0].phone}}</p>

<md-expansion-panel *ngFor='let dt of data' style="margin-top: 5px; margin-bottom: 5px">
	<md-expansion-panel-header>
		<md-panel-title>
			{{dt.name}}
		</md-panel-title>
		<md-panel-description>
			{{dt.datecreated | date:'short'}}
		</md-panel-description>
	</md-expansion-panel-header>
	
	<div class="row">
		<div class="col-md-4 col-sm-4 col-4">
			<img [src]="dt.image" style="width: 100%">
			<button class="accept-product" type="button" style="border: 1px solid #3498db; border-radius: 5px; background-color: #ffffff; cursor: pointer; padding: 5px; margin-top: 10px; text-align: center; outline: none; width: 100%"><i class="fa fa-check" aria-hidden="true"></i> Nhận hàng</button>
		</div>
		<div class="col-md-8 col-sm-8 col-8">
			<p><b>Mô tả: </b> {{dt.description}}</p>
			<p><b>Chú ý: </b> {{dt.note}}</p>
			<p><b>Hết hạn vào ngày: </b> {{dt.dateexpired | date:'short'}}</p>		
		</div>		
	</div>
</md-expansion-panel>
<div md-dialog-actions style="float: right;">
  <!-- <button md-button [md-dialog-close]="data.animal" tabindex="2">Chi tiết</button> -->
  <button class="cancel-btn" md-button (click)="onNoClick()" tabindex="-1" style="border: 1px solid #bdc3c7; border-radius: 5px">Cancel</button>
</div>