<div class="row">
	<div class="card col-md-4 col-sm-6 col-12" *ngFor='let product of products'>
		<div class="my-thumb" [ngStyle]="{'background-image': 'url(' + product.image + ')'}"></div>
		<div class="card-body">
			<h4 class="card-title">{{product.name}}</h4>
			<div class="card-text">
				<div class="by-user">
					<b>Đăng bởi: </b>
					<span>Jibi</span>
				</div>
				<div class="description">
					<b>Mô tả: </b>
					<span>
						{{product.description}}
					</span>
				</div>
				<div class="my-note">
					<b>Ghi chú: </b>
					<span>
						{{product.note}}
					</span>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<small class="text-muted">Cập nhật 3 phút trước</small>
			<button type="button" class="btn btn-outline-primary" [routerLink]="['product', product.id]">Chi tiết</button>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			</a>
		</li>
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			</a>
		</li>
	</ul>
</nav>
