<div class="col-md-12 col-sm-12 col-12 map">
	<div *ngIf="mylat && mylng" style="height: 100%">
		<agm-map [latitude]="mylat" [longitude]="mylng" [zoom]="15" style="height: 100%">
			<agm-marker [latitude]="mylat" [longitude]="mylng" >
				<agm-info-window>
					<h3><strong>Howdy!</strong></h3>
					<p>You are here!</p>
				</agm-info-window>
			</agm-marker>
			<agm-marker md-raised-button *ngFor='let location of locations' [latitude]="location.latitude" [longitude]="location.longtitude" (markerClick)="openDialog(location.id)">
			</agm-marker>
		</agm-map>
	<div>
</div>
