<div class="login-form">
  <md-tab-group>
    <md-tab label="LOGIN">
      <form class="example-form">
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Username">
        </md-form-field>
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Password" type="password">
        </md-form-field>
        <md-checkbox>Remember me</md-checkbox>
      </form>
      <div class="form-footer">
        <button md-button class="login-btn">Sign in</button>
        <a href="#" class="forget-link">Forgot your password?</a>
      </div>
    </md-tab>
    <md-tab label="REGISTER">
      <form class="example-form">
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Full name">
        </md-form-field>
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Username">
        </md-form-field>
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Password" type="password">
        </md-form-field>
        <md-form-field class="example-full-width" style="width: 100%">
          <input mdInput placeholder="Email" type="email">
        </md-form-field>
      </form>
      <div class="form-footer">
        <button md-button class="login-btn">Register</button>
        <md-checkbox class="accept">Accept and agree terms</md-checkbox>
      </div>
    </md-tab>
  </md-tab-group>
</div>
