<nav class="row my-nav">
	<div class="col-md-5 col-sm-4 col-9">
		<a [routerLink]="['/']">
			<img src="../assets/img/logo.png" width="50" height="50" class="d-inline-block align-top" style="vertical-align: middle !important;">
			<span>New SecondHand</span>
		</a>
	</div>
	<div class="col-md-7 col-sm-8 col-3 right-nav">
		<!-- <ul class="nav-menu">
			<li *ngFor='let category of categories'>
				<a [routerLink]="['/categories/'+category.id]">{{category.name}}</a>
			</li>
		</ul> -->
		<button class="my-btn" type="button" md-button (click)="sidenav.open()">
			<i class="fa fa-bars"></i>
		</button>
	</div>
</nav>
<md-sidenav-container class="example-container">
	<md-sidenav #sidenav class="example-sidenav">
		<ul>
			<li *ngFor='let category of categories'>
				<a [routerLink]="['/categories/'+category.id]">{{category.name}}</a>
			</li>
		</ul>
	</md-sidenav>
	<div class="container-fluid">
		<div class="content">
			<router-outlet></router-outlet>
		</div>			
	</div>
</md-sidenav-container>