<div class="row profile">
	<div class="col-md-4 col-sm-4 col-12 avatar-form">
		<div class="ava-img">
			<img src="../assets/img/user-ava.png" class="img-thumbnail ava" alt="...">
		</div>
		<label class="custom-file">
			<input type="file" id="file" class="custom-file-input" required>
			<span class="custom-file-control"></span>
		</label>
	</div>
	<div class="col-md-7 col-sm-7 col-12 info-form">
		<form>
			<div class="form-group">
				<label for="inputUsername" class="col-form-label">FullName</label>
				<input type="text" class="form-control" id="inputUsername" placeholder="jibi">
			</div>
			<div class="form-group">
				<label for="inputUsername" class="col-form-label">Username</label>
				<input type="text" class="form-control" id="inputUsername" placeholder="jibi">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputEmail4" class="col-form-label">Email</label>
					<input type="email" class="form-control" id="inputEmail4" placeholder="jibi123@gmail.com">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4" class="col-form-label">Password</label>
					<input type="password" class="form-control" id="inputPassword4" placeholder="********">
				</div>
			</div>
			<div class="form-group">
				<label for="inputAddress" class="col-form-label">Address</label>
				<input type="text" class="form-control" id="inputAddress" placeholder="12 Tôn Đức Thắng">
			</div>
			<div class="form-group">
				<label for="inputAddress2" class="col-form-label">Address 2</label>
				<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity" class="col-form-label">City</label>
					<input type="text" class="form-control" id="inputCity">
				</div>
				<div class="form-group col-md-4">
					<label for="inputState" class="col-form-label">State</label>
					<select id="inputState" class="form-control">Choose</select>
				</div>
				<div class="form-group col-md-2">
					<label for="inputZip" class="col-form-label">Zip</label>
					<input type="text" class="form-control" id="inputZip">
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox"> Check me out
					</label>
				</div>
			</div>
			<button type="submit" class="btn btn-outline-primary"><i class="fa fa-pencil-square-o"></i> Edit</button>
		</form>
	</div>
</div>